<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-custom">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/logo01.png" width="40" height="40" class="d-inline-block align-top mr-2" alt="Logo" loading="lazy">
      <span>GFinanças</span>
    </a>
  </div>
</nav>

<.header>
  Editar Receita <%= @receita.id %>
  <:subtitle>Use este formulário para editar esta receita.</:subtitle>
</.header>

<.receita_form changeset={@changeset} action={~p"/receitas/#{@receita}"} />

<.back navigate={~p"/receitas"}>Voltar para receitas</.back>
