<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-custom">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/logo01.png" width="40" height="40" class="d-inline-block align-top mr-2" alt="Logo" loading="lazy">
      <span>GFinanças</span>
    </a>
  </div>
</nav>>

<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h2>Nova Receita</h2>
    </div>
    <div class="card-body">
      <.receita_form changeset={@changeset} action={~p"/receitas"} class="form-horizontal"/>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <.back navigate={~p"/receitas"} class="btn btn-secondary">Voltar para receitas</.back>
    </div>
  </div>
</div>
