<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-custom">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/logo01.png" width="40" height="40" class="d-inline-block align-top mr-2" alt="Logo" loading="lazy">
      <span>GFinanças</span>
    </a>
  </div>
</nav>

<.header>
  Receita <%= @receita.id %>
  <:subtitle>Este é o registro para essa receita no banco de dados.</:subtitle>
  <:actions>
    <.link href={~p"/receitas/#{@receita}/edit"}>
      <.button>Editar receita</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Nome"><%= @receita.nome %></:item>
  <:item title="Valor"><%= @receita.valor %></:item>
  <:item title="Data"><%= @receita.data %></:item>
</.list>

<.back navigate={~p"/receitas"}>Voltar para receitas</.back>
