<.header>
  Receita <%= @receita.id %>
  <:subtitle>Este é o registro para essa receita no banco de dados.</:subtitle>
  <:actions>
    <.link href={~p"/receitas/#{@receita}/edit"}>
      <.button>Editar receita</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Nome"><%= @receita.nome %></:item>
  <:item title="Valor"><%= @receita.valor %></:item>
  <:item title="Data"><%= @receita.data %></:item>
</.list>

<.back navigate={~p"/receitas"}>Voltar para receitas</.back>
