<.flash_group flash={@flash} />

<!-- Adicionando a barra superior -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark shadow-0">
  <div class="container d-flex justify-content-center">
    <a class="navbar-brand" href="#">GFinancas</a>
  </div>
</nav>

<!-- Container principal -->
<div class="container my-4">
  <h1 class="mb-4 resumo-financeiro-titulo">Resumo Financeiro</h1>
  <div class="resumo-financeiro p-4 mb-4 bg-light border rounded-lg shadow">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-success">
          <div class="card-header">Receitas</div>
          <div class="card-body">
            <h5 class="card-title">R$ <%= @total_receitas %></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-danger">
          <div class="card-header">Despesas</div>
          <div class="card-body">
            <h5 class="card-title">R$ <%= @total_despesas %></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-info">
          <div class="card-header">Saldo</div>
          <div class="card-body">
            <h5 class="card-title">R$ <%= @saldo %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
